@model List<Hotel>

<!-- banner -->
<section class="hotel-banner-simple hotel-transition-bottom hotelrooms">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="hotel-center hotel-title-frame">
                    <h1 class="hotel-mb-20 hotel-h1-inner">Hotel Seçin</h1>
                    <p class="hotel-mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, labore. Beatae sunt impedit accusamus eum.</p>
                    <ul class="hotel-breadcrumbs">
                        <li><a asp-controller='Home'>Ana Səhifə</a></li>
                        <li><span>Hotellər</span></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- banner end -->
<!-- rooms -->
<section class="hotel-p-100-100">
    <div class="container">
        <div class="row">
            @foreach (var hotel in Model)
            {



                <div class="col-12 col-md-6 col-lg-4 ">

                    <!-- room card -->
                <div class="hotel-room-card">
                        <div class="hotel-cover-frame imgLoad">
                          <img class="lozad" data-src="img/@hotel.img" alt="cover">
                        </div>
                        <div class="hotel-description-frame">
                            <ul class="hotel-stars d-flex d-flex">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                            <a href="menu.html">
                                <h3 class="hotel-mb-20">@hotel.name</h3>
                            </a>
                            <div class="hotel-text-light hotel-text-sm hotel-mb-20">@hotel.desc</div>
                            <div class="hotel-card-bottom imgLoad">
                            </div>
                        </div>
                    </div>
                    <!-- room card end -->





            </div>
            }

        </div>



    </div>
</section>
<!-- rooms end -->