@model RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qeydiyyat</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <div class="hotel-app">

        <!-- preloader -->
        <div class="hotel-preloader-frame">
            <div class="hotel-preloader imgLoad">
                <img class="lozad" src="~/img/hotellogo.png" alt="logo" />
                <div class="hotel-preloader-progress">
                    <div class="hotel-preloader-bar"></div>
                </div>
                <div>
                    <span class="hotel-preloader-number" data-count="101">0</span>%
                </div>
            </div>
        </div>
        <!-- preloader end -->


        <section class="login">
            <div class="container">
                <div class="user signupBox d-flex active">
                    <div class="formBox">
                        <form method="post" asp-action="Register">
                            <h2>Hesab aç</h2>
                            <div class="text-danger error--message" asp-validation-summary="ModelOnly"></div>
                            <input asp-for="Username" placeholder="İstifadəçi Adınız">
                            <span asp-validation-for="Username" class="text-danger error--message"></span>
                            <input asp-for="Email" placeholder="E-mail Adresiniz">
                            <span asp-validation-for="Email" class="text-danger error--message"></span>
                            <input asp-for="Password" placeholder="Şifrə">
                            <span asp-validation-for="Password" class="text-danger error--message"></span>
                            <input asp-for="ConfirmPassword" placeholder="Şifrə (təkrar)">
                            <span asp-validation-for="ConfirmPassword" class="text-danger error--message"></span>
                            <input type="submit" value="Qeydiyyatdan keç">
                            <p class="signup cursor-pointer">Giriş ekranına <a asp-action="Login" class="cursor-pointer">geri qayıt</a></p>
                            <a asp-controller="Home" asp-action="Index" class="cursor-pointer my-2">Ana Səhifə</a>

                        </form>
                    </div>
                    <div class="w-50"><img src="~/img/rooms/1.jpg" alt=""></div>
                </div>
            </div>
        </section>



    </div>





    <script src="~/js/plugins/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/plugins/lozad.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <script>
        const observer = lozad();
        observer.observe();
    </script>
    <!-- bootstrap js -->
    <script src="~/js/plugins/bootstrap.min.js"></script>
    <!-- nice select js -->

    <script src="~/js/plugins/jquery.nice-select.min.js"></script>
    <!-- datepicker js -->
    <script src="~/js/plugins/datepicker.js"></script>
    <!-- smooth scroll js -->
    <script src="~/js/plugins/smooth-scroll.js"></script>
    <!-- isotope js -->
    <script src="~/js/plugins/isotope.min.js"></script>
    <!-- mapbox js -->
    <script src="~/js/plugins/mapbox.min.js"></script>
    <!-- fancybox js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.1/lightgallery.min.js"></script>
    <script src="~/js/plugins/fancybox.min.js"></script>
    <!-- swiper js -->
    <script src="~/js/plugins/swiper.min.js"></script>
    <!-- sticky js -->
    <script src="~/js/plugins/sticky.js"></script>
    <!-- kinsley js -->
    <script src="~/js/main.js"></script>
</body>
</html>